:root {
    --background-color: #000000;
    --text-color: #ffffff;
    --header-background: #181818;
    --body-background: #181818;
    --higlight-color: yellow;
    --silver-color: silver;
    --header-height: 70px;
    --primary-color: #ffcc00;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 5px;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
    padding: 0 20px;
    height: var(--header-height);
    box-shadow: 0 2px 2px -2px gray;
}

.left-header-section {
    display: flex;
    align-items: center;
}

.up-left-logo {
    color: var(--higlight-color);
    display: flex;
    align-items: center;
}

.image-sunshine {
    width: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

.right-header-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-ya-plus {
    /* background-color: #ff0066; */
    border: none;
    color: #fff;
    width: 85px;
    padding: 5px 0 0 10px;
    border-radius: 20px;
    cursor: pointer;
}

.upload-app {
    background-color: transparent;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.upload-app:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

.image-profile {
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.bottom-nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
    padding: 10px 20px;
    box-shadow: 0 2px 2px -2px gray;
}

.site-header-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1px;
    width: 100%;
}

.site-header-nav li {
    display: inline-block;
    margin: 0 15px;
}

.site-header-nav a {
    color: var(--silver-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.1ms;
}

.site-header-nav a:hover {
    color: var(--higlight-color);
}

.image-search {
    width: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.cite-body-container{
    display: grid;
    grid-template-columns: 5fr 3fr;
    height: 100vh;
}

.left-body {
    background-color: var(--body-background);
    /* display: flex; */
    padding-left: 15px;
    justify-content: left;
    /* align-items: center; */
    color: white;
    border: 1px solid #242424;
}


.site-body-up{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */
    height: 150px;
    border-bottom: 3px solid #242424;
    padding: 20px 0;
}

.site-body-nav {
    margin-top: auto;
    padding-bottom: 10px;
}

.site-body-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    font-size: smaller;
}

.site-body-nav li {
    display: inline-block;
    margin: 0 15px;
    justify-content: bottom;

}

.site-body-nav a {
    color: var(--silver-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.1ms;
}

.site-body-nav a:hover {
    color: var(--higlight-color);
}


.site-body-middle{
    position: relative;
    display: flex;
    height: 500px;
    width: 100%;
    /* background-color: yellow; */
    /* display: flex;
    align-items: bottom;
    justify-content: bottom; */
}

.tensor-gif-embed{
    /* height: 100px;
    width: 100px; */
    width: 100%;
    height: auto;
    /* z-index: 12; */
    /* background-color: #ffcc00; */
    pointer-events: none;

}

.overlay-text {
    position: absolute;
    top: 40%;
    left: 31%;
    transform: translate(50%, 50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    z-index: 4;
    /* pointer-events: none; */
    /* text-shadow: 2px 2px 4px rgba(0,0,0,0.7); */
    transition: font-size 0.5s ease, color 0.3s ease;
    /* background-color: #ffcc00; */
    cursor: pointer;
}

.overlay-text:hover{
    font-size: 25px;
    /* left: 20%; */
}

/* .overlay-text:active {
    color: var(--higlight-color);
} */

h2 {
    color: white;
    margin-left: 20px;
}

.slider-container {
    display: flex;
    width: 25%;
    height: 25%;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.slider {
    /* position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden; */
    position: relative;
    overflow: hidden;
    margin: 20px 0;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* width: 100%; */
    width: calc(100% * 4);
}

.slide {
    /* min-width: 100%;
    box-sizing: border-box; */
    /* min-width: 25%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center; */
    color: white;
}

.slide img {
    width: 100%;
    /* display: block; */
    border-radius: 10px;
}

.prev, .next {
    /* cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; */
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 10; */
    border-radius: 50%;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.right-body {
    background-color: var(--body-background);
    /* border: px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: white;
    border: 1px solid #242424;
}


@media screen and (max-width: 927px) {
    .overlay-text {
        top: 40%;
        left: 24%;
    }
    /* .bottom-nav-section {
        flex-direction: row;
        align-items: flex-start;
    } */

    /* .site-header-nav ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
    } */

    /* .image-search {
        margin-top: 10px;
        align-self: flex-end;
    } */
}
